@charset "utf-8";
/* CSS Document */

/*公共*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family:  "Microsoft Yahei";
}

html, body {
    height: auto;
}

a {
    color: #000;
    text-decoration: none;
}

hr {
    margin: 5px 5px
}

.clear {
    clear: both;
}

.login-box {
    width: 100%;
    filter: alpha(Opacity=60);
    -moz-opacity: 0.8;
    opacity: 0.8;
    border-radius: 8px;
}

.login-banner-bg, .login-boxtitle {
    display: none;
}

/*标题*/
h3.title {
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    margin-left: -8px;
    margin-top: 42px
}

.zcnext {
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 5px;
    font-size: 14px;
}

/*主题*/
.login-form {
    background: #fff;
    width: 100%;
}

form {
    max-width: 320px;
    margin: 20px auto;
    font-size: 18px;
}

.user-name, .user-pass, .user-email, .user-phone, .verification {
    position: relative;
    height: 42px;
    margin-bottom: 30px;
}

form label {
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #fff;
    text-align: center;
    top: 1px;
    left: 1px
}

form input {
    font-size: 18px;
    line-height: 18px;
    height: 50px;
    padding: 11px 8px 11px 11px;
    width: 100%;
    border: 1px solid #fff;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

.am-cf {
    width: 100%;
    max-width: 320px;
    margin: 0px auto;
}

.am-cf input {
    width: 100%;
    font-size: 14px;
}

.login-links {
    max-width: 320px;
    margin: 0px auto;
    font-size: 18px;
}

/*合作账号*/
.partner {
    width: 100%;
    max-width: 320px;
    margin: 20px auto;
    font-size: 14px;
}

.partner h3 {
    text-align: center;
}

.am-btn-group {
    display: block;
    overflow: hidden;
}

.am-btn-group li {
    width: 33.333%;
    display: block;
    float: left;
}

.am-btn-group i {
    margin: 0px auto;
    display: block;
    width: 42px;
    height: 42px;
    border-radius: 42px;
    line-height: 42px;
    padding-left: 10px;
    border: 1px solid #eee;
    background: #fff;
    color: #0e90d2;
}

.am-btn-group span {
    display: none;
}

/*注册*/
.verification {
    position: relative;
}

input#code {
    width: 80%;
}

#dyMobileButton {
    margin-left: 10px;
    border: 1px solid #DDD;
    padding: 0px;
    width: 15%;
    height: 40px;
    background: #F4F4F4 none repeat scroll 0% 0%;
    margin-top: 0px;
    text-align: center;
    line-height: 40px;
    color: #333;
    text-decoration: none;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

/*修改的样式*/
#doc-my-tabs li.am-active a, #doc-my-tabs li a {
    background: #f8f8f8;
}

.am-tabs-bd {
    border: none;
}

.am-nav-tabs.am-nav-justify li {
    padding: 5px;
}

.am-nav-tabs > li > a, .am-nav-tabs.am-nav-justify > li > a, .am-nav-tabs.am-nav-justify > .am-active > a, .am-nav-tabs > li.am-active > a, .am-nav-tabs > li.am-active > a:focus, .am-nav-tabs > li.am-active > a:hover {
    border: none;
    color: #000;
    font-weight: 600;
}

.am-nav-tabs.am-nav-justify > .am-active > a, .am-nav-tabs.am-nav-justify > .am-active > a:focus, .am-nav-tabs.am-nav-justify > .am-active > a:hover, .am-nav-tabs > li.am-active > a, .am-nav-tabs > li.am-active > a:focus, .am-nav-tabs > li.am-active > a:hover {
    margin-right: 0px;
    border-bottom: 1px solid #0e90d2;
    border-radius: 0px;
}




@media screen and (min-width: 640px) {
    form, .am-cf, .partner {
        max-width: 640px;
        margin: 20px auto;
    }



    .partner h3 {
        text-align: left;
    }

    .am-btn-group i {
        display: inline-block;
        border-radius: 0px;
        border: 0px;
        background-color: transparent;
    }

    .am-btn-group span {
        display: inline-block;
    }

    .am-cf input {
        width: 100%;
        font-size: 24px;
    }

}

@media screen and (min-width: 1025px) {

    .login-box, .login-box2 {
        width: 492px;
        max-width: 492px;
        height: auto;
        position: absolute;
        margin-top: 79px;
        margin-left: 880px;
        background:rgba(255, 255, 255, 1);
        padding: 10px 20px;
        border: 1px solid rgba(204, 204, 204, 1);
    }

    .login-box2 {
        height: 430px;
    }

    .login-boxtitle {
        max-width: 1000px;
        margin: 0px auto;
        height: 160px;
    }

    .login-boxtitle img {
        height: 60px;
        margin-top: 120px;
        margin-left: -300px
    }

    .login-banner, .res-banner {
        width: 1920px;
        height: 599px;
        background-image: url("/images/web/big.png");
        margin-top: 20px
    }

    .login-main, .res-main {
        max-width: 1000px;
        height: 470px;
        margin: 0px auto;
        position: relative;
    }

    /*头部*/
    .login-boxtitle {
        display: block;
    }

    .zcnext {
        right: 20px;
        top: 15px;
    }

    /*背景*/
    .login-banner-bg {
        display: block;
        float: left;
    }

    .am-btn-primary {
        width: 100%;
    }

    /*修改的样式*/
    #doc-my-tabs li.am-active a, #doc-my-tabs li a {
        background: #f8f8f8;
    }

    .am-nav-tabs > li > a, .am-nav-tabs.am-nav-justify > li > a, .am-nav-tabs.am-nav-justify > .am-active > a, .am-nav-tabs > li.am-active > a, .am-nav-tabs > li.am-active > a:focus, .am-nav-tabs > li.am-active > a:hover {
        border: none;
    }
}

/*注册/登录选项样式*/
.avtive {
    color: rgba(224,171,74,1);
}

/*密码输入框样式*/
.user-pass {
    margin-top: 22px;
}

/*验证输入框字体样式*/
.am-input-group-label, .am-form-field {
    font-size: 18px;
}

/*验证码输入框样式*/
.login-box .am-form-field {
    border: none;
    width: 220px;
    margin-right: 35px;
    border: 1px solid rgba(220, 220, 220, 1);
}

/*验证码输入框按钮样式*/
.login-box .am-input-group-label:last-child {
    border: 1px solid #ccc;
    background:rgba(107, 107, 107, .61);
  width: 165px;
    color: rgba(51, 51, 51, 1);
    font-size: 18px;

}
/*验证码输入框样式*/
.login-box .input-captcha {
    height: 50px;
}
/*竖线样式*/
.line {
    height: 40px;
    border-color: #000000;
    border-left-style: solid;
    border-width: 1px;
    display: inline;
}
/*按钮样式*/
.login-box .am-cf input {
    line-height: 1.1;margin-top: 10px;background:rgba(224,171,74,1);border-color: rgba(224,171,74,1);
}
/*忘记密码字体颜色*/
.login-links a{
    color:rgba(204,204,204,1);
}

form input{
    margin-left: 17px;
    width: 419px;
    border: 1px solid rgba(220, 220, 220, 1);
}
/*验证样式*/
.color_tishi{
    color:rgba(225, 176, 90, 1);
    margin-left: 34px;
    display: none;
}









