/*layer 样式*/
body .layui-layer-lan .layui-layer-title {
    background: rgba(224, 171, 74, 1);
    color: #fff;
    border: none;
}

body .layui-layer-lan .layui-layer-btn {
    border-top: 1px solid #E9E7E7
}

body .layui-layer-lan .layui-layer-btn a {
    background: rgba(224, 171, 74, 1);
}

body .layui-layer-lan .layui-layer-btn .layui-layer-btn1 {
    background: #fff;
}

body {
    width: 1920px;
    height: auto;
    font-family: MicrosoftYaHei;
}

.header {
    width: 1920px;
    height: 200px;
    display: inline;
}

.content {
    width: 1920px;
    height: auto;
}

.step {
    width: 1920px;
    height: 201px;
}

.form-action {
    width: 1920px;
    height: auto;
    position: absolute;
    left: 755px;
    top: 401px;
}

/*logo图片与header的div里面的样式*/
.header div {
    display: inline;
}

.header img {
    margin-left: 410px;
    margin-top: 75px;
}

.header-nav-first-span {
    position: absolute;
    left: 764px;
    top: 72px;
    display: inline;
    width: 140px;
    height: 31px;
    font-size: 32px;
    color: rgba(51, 51, 51, 1);
    line-height: 31px;
}

.header-nav-sec-span {
    position: absolute;
    left: 1300px;
    top: 81px;
    display: inline;
    width: 180px;
    height: 19px;
    line-height: 31px;
}

.header-nav-sec-span a {
    font-size: 18px;
    color: rgba(51, 51, 51, 1);
}

/*表单样式*/
form {
    width: 420px;
    text-align: left;
}

form input {
    width: 419px;
    height: 50px;
    background: rgba(255, 255, 255, 1);
    margin-bottom: 35px;
    font-size: 24px;
    font-family: MicrosoftYaHei;
    color: rgba(204, 204, 204, 1);
    padding-left: 17px;
}

::placeholder {
    color: rgba(221, 221, 221, 1);
    font-size: 24px;

}

.input-captcha {
    width: 256px;
    font-size: 24px;
    font-family: MicrosoftYaHei;
    color: rgba(204, 204, 204, 1);
    padding-left: 17px;
}

form .am-input-group-label:last-child {
    width: 142px;
    height: 50px;
    border: 1px solid #ccc;
    margin-top: -35px;
}

.am-btn-sm {
    width: 419px;
    height: 50px;
    background: rgba(224, 171, 74, 1);
    font-size: 24px;
    font-family: MicrosoftYaHei;
    color: rgba(255, 255, 255, 1);
    margin-top: 87px;
}

.div-input-inline {
    display: inline;

    padding-left: 5px;
    font-size:18px;
    font-family:MicrosoftYaHei;
    color:rgba(51,51,51,1);
    line-height:31px;
}

#relogin-clock {
    width: 332px;
    height: 25px;
    font-size: 24px;
    font-family: MicrosoftYaHei;
    color: rgba(51, 51, 51, 1);
    line-height: 190px;
    margin-left: 86px;
}

