body{
    background: #fff;
    font-family:NotoSansHans-Regular;
    overflow-x:hidden;
}
.navbar-nav>li{
    color: #fff;
}
.navbar-nav>.dropdown1{
    margin-top: 6px;
}
.navbar-nav>.dropdown1:hover{
    cursor: pointer;
    color: #e1b05a;
}
a,a:hover{
    color: #fff;
    text-decoration: none;
}
.menu2{
    position: absolute;
    top: 28px;
    z-index: 3;
    width: 78px;
    right: 296px;
    background-color: #fff;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 2px ;
    display: none;
}
.menu2 li{
    line-height: 26px;
}
.menu2 a{
    color: #000;
}

/*头部*/
.pyt_hearder_color{
    background-color:#111 ;
}
.navbar-default .navbar-nav>li>a{
    color:#fff;
    font-size: 12px;
}
.row{
    border: none;
}
#pyt_nav{
    background-image:url("../../images/web/about_us.png");
    color: #fff;
    width: 100%;
    height: 300px;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
}
.navbar-right .dropdown-menu{
    right: 161px;
}

/*我们是谁*/
.who_are_we {
    height: 818px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.who_are_we_title {
    color: rgba(51,51,51,1);
    margin-top: 120px;
}

.font_size28 {
    font-size: 28px;;
}

.who_are_we_content {
    width: 1096px;
    height: 184px;
    font-size: 16px;
    color: rgba(102,102,102,1);
    margin-top: 50px;
}

.who_are_we_content p {
    line-height: 1.8em;
    margin-bottom: 20px;
}

.font_size16 {
    font-size: 16px;
}

#who_are_we_box_all {
    width: 1096px;
    color: rgba(102,102,102,1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.who_are_we_box {
    width: 280px;
    height: 290px;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.who_are_we_box img {
    margin-bottom: 20px;
}

.who_are_we_box p {
    line-height: 20px;
    margin-top: 18px;
}

.font_size20 {
    font-size: 20px;
}

/*联系我们*/
.contact_us {
    height: 552px;
    background: -webkit-linear-gradient(rgba(51, 51, 51, 1), rgba(17, 17, 17, 1)); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(rgba(51, 51, 51, 1), rgba(17, 17, 17, 1)); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(rgba(51, 51, 51, 1), rgba(17, 17, 17, 1)); /* Firefox 3.6 - 15 */
    background: linear-gradient(rgba(51, 51, 51, 1), rgba(17, 17, 17, 1)); /* 标准的语法 */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact_us_title {
    color: rgba(255,255,255,1);
    margin-top: 120px;
}

#contact_us_box_all {
    width: 1096px;
    color: rgba(255,255,255,1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 110px;
}

.contact_us_box {
    width: 280px;
    height: 220px;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    background-color: rgba(73, 73, 73, 1);
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.contact_us_box img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact_us_box p {
    line-height: 20px;
    margin-top: 18px;
}

.color_gold {
    color: rgba(224,171,74,1);
}

.bg_color {
    background-color: rgba(224,171,74,1);
}

/*关注微信*/
.follow_wechat {
    height: 552px;
    background-image:url("../../images/web/about_us_wechat.png");
    display: flex;
    flex-direction: column;
    align-items: center;
}

.follow_wechat_title {
    color: rgba(255,255,255,1);
    margin-top: 120px;
}

.follow_wechat_content {
    color: rgba(255,255,255,1);
    margin-top: 30px;
}

.follow_wechat_qr {
    width: 200px;
    height: 200px;
    margin-top: 40px;
}

.follow_wechat_qr img{
    width: 100%;
    height: 100%;
}