/*去掉a标签默认样式*/
.click_open:link,.click_open:visited{
    color:#666;text-decoration:none;
}
.click_open:hover{
    color:#666;
}
.prod_type_list .active{
    color:#E1B05A ;
}
.kong {
    margin-left: 32% ;margin-top:10%;
}
.btn{
    right: 30px;
}
.pro_list{
    width:1100px;
}
.single{
    width: 204px;
    height:330px;
    margin-right: 20px;
    display: inline-block;
    margin-top: 20px;
    border: 1px solid #fff;
    float: left;
}
.single:hover{
    cursor: pointer;
    border: 1px solid #E1B05A ;
}
.pro_list .single:nth-child(5n){
    margin-right: 0px;
}
.img_size{
    display: inline-block;
    width: 202px;
    height: 202px;
}
.row{
    background: #f6f6f6;
    padding-bottom: 0px;
    border: none;
}
/*商品列表的文字*/
.price_introduce{
    width: 202px;
    height: 126px;
    background: #fff;
    padding: 10px;
    position: relative;
}
.title{
    color: #666;
    font-family:NotoSansHans-Regular;
    height: 19px;
    width: 100%;
    overflow: hidden;
}
.point_three{
    position: absolute;
    top: 6px;
    right: 2px;
}
.discount,.mouth_num,.coupon_back,.commission,.log_pro{
    display: inline-block;
    position: absolute;
}
.discount{
    top: -4px;
    position: relative;
}
.mouth_num{
    font-size: 12px;
    right: 10px;
    color: rgba(153, 153, 153, 1);
    top: 42px;
}
.coupon_back,.commission{
    top: 66px;

    font-size: 18px;
    color: rgba(225, 176, 90, 1);
}
.coupon_back{
    left: 11px;
}
.size18{
    font-size: 18px;
}
.commission{
    right: 6px;
}
.log_pro{
    bottom: 6px;
    right: 10px;
}
.small_word{
    font-size: 14px;
}
.small_color{
    color: #999;
    font-size: 12px;
}
.scree_box{
    width: 954px;
    display: inline-block;
}
/*条件排版*/
.prod_type_box,.prod_type_boxs{
    width: 100%;
    text-align: center;
    border: 1px solid #ddd;
    float: left;
    line-height: 40px;
    margin-top: 10px;
}
.line_30{
    line-height: 30px;
}
.prod_type{
    display: inline-block;
    width:94px ;
    height: 40px;
    float: left;
    color: #999;
    font-size: 12px;
    margin: 0px 0px 0px 20px;
    font-family: Simsun;
}
.prod_type_list{
    display: inline-block;
    width: 878px;
    color: #333;
    font-size: 12px;
    -webkit-padding-start: 0px;
    margin-bottom: 0px;
    position: relative;
    left: 0px ;
    font-family: Simsun;
}
.margin_left4{
    float: left;
}
.prod_type_list li,.margin_right li{
    display: inline-block;
    margin-right: 40px;
    float: left;
    list-style-type:none;
}
/*输入框之间的横线*/
.width1{
    left: 78px;

}
.width2{
    left: 200px;

}
.margin_right{
    border-bottom: 1px dashed #ddd;
    float: left;
    width:982px ;
    -webkit-padding-start: 0px;
    margin-bottom: 0px;
    margin-left: -14px;
    line-height: 26px;
}
.margin_right li{
    position: relative;
    margin-right: 19px;
}
.margin_right li:last-child{
    margin-right: 0px;
}
.margin_right li input{
    display: none;
}
.inputs + label {
    border: 1px solid #ddd;
    display: inline-block;
    position: relative;
    margin-right: 0px;
}
.inputs:checked + label {
    color: #E1B05A;
}
label{
    mrgin-bottom:0px;
    font-weight: 100;
}
.inputs:checked + label:after {
    content: '\2714'; //勾选符号
position: absolute;
    top: 0px;
    left: 0px;
    color: #E1B05A;
    text-align: center;
    line-height: 0px;
    font-size: 12px;
    vertical-align: text-top;
    width: 100%;
}
.margin_right li .hiddens{
    display: inline-block;
    width:14px ;
    height: 14px;
    position: absolute;
    top: 8px;
}
.margin_right li .show_title{
    margin-left: 16px;
    color: #666;
    font-size: 12px;
    font-family: Simsun;
    margin-top: 2px;
}
.section{
    float: left;
}
.section_title{
    display: inline-block;
    margin: 0px 28px 0px -14px;
    position: relative;
    font-family: Simsun;
    font-size: 12px;

}
.section_title1{
    left: 40px;
}
.section_title2{
    left: 100px;
}
.section_title3{
    left: 140px;
}
.section_title4{
    left: 530px;
    top: 1px;
}

.in_clock,.in_clock0,.in_clock1,.in_clock2,.in_clock3,.in_clock4{
     position: absolute;
     left: 40px;
     top: -24px;
 }
.in_clock0{

    left: 110px;

}
.in_clock1{

    left: 162px;

}
.in_clock2{

    left: 232px;

}
.in_clock3{

    left: 282px;

}
.in_clock4{

    left: 330px;

}
.section_title span{
    color: #666;
    position: absolute;
    top: -18px;
    display: inline-block;
    width: 54px;
}
.title_in{
    left: -6px;
}
.title1_in{
    left:120px;
}
.title2_in{
    left: 224px;
}
.title3_in{
    left: 284px;
}
.section_title input{
    width: 60px;
    height: 20px;
    margin-top: 10px;
    border: 1px solid #ddd;
    padding-left: 4px;
    font-size: 14px;
    line-height: 20px;
}

.section_title .two_clock{
    position: absolute;
    top: 2px;
    right: 20px;
}

.section_title button{
    width: 44px;
    height: 20px;
    border: 1px solid #E1B05A;
    color: #fff;
    line-height: 16px;
    background: #E1B05A;
}
.tab_nav{
    width: 100%;
    height: 40px;
    background: #fff;
    color: #666;
    line-height: 40px;
    margin-top: 10px;
    border: 1px solid #ddd;
}
.tab_nav span{
    display: inline-block;
    width: 60px;
    margin-right: 10px;
    text-align: center;
}
.tab_nav_active{
    background: #f6f6f6;
    color:#E1B05A ;
    height: 38px;
    border-bottom: 1px solid #E1B05A ;
}
.tab_nav span:hover,.prod_type_list li:hover{
    cursor: pointer;
}

/*食物和家具*/
.other_css{
    margin-top: 0px;
    padding-top: 4px;
}

/*ie调试*/
input[type=checkbox]{
    margin-top: 5px;
}

.prc_pyt{
    width: 42px;
    height: 18px;
    display: inline-block;
    position: absolute;
    right: 0px;
    text-align: center;
    line-height: 16px;
}

/*高级筛选*/
.today_new_pro,.today_new_pro1,.today_new_pro2,.today_new_pro3,.today_new_pro4,.today_new_pro5{
    border-right: 1px solid #ddd;
    height: 16px;
    display: inline-block;
    padding: 0px;
    margin: 0px;
    position: absolute;
    top: 6px;
    left: 72px;
}
.today_new_pro1{
    left: 62px;
}
.today_new_pro2{
    left: 60px;
}
.today_new_pro3{
    left: 72px;
}
.today_new_pro4{
    left: 50px;
}
.today_new_pro5{
    left: 60px;
}
/*加载完成*/
#add_in{
    color:#E0AB4A;
    font-size: 16px;
    width: 100%;
    text-align: center;
    float: left;
    margin-top: 16px;
    display: none;
}
/*返回顶部按钮*/
#back_top{
    position: fixed;
    bottom: 40px;
    right: 40px;
    display: none;
}





