/*������ʽ*/
/*ͷ��*/
/*layer 样式*/
body .layui-layer-lan .layui-layer-title{background:rgba(224,171,74,1); color:#fff; border: none;}
body .layui-layer-lan .layui-layer-btn{border-top:1px solid #E9E7E7}
body .layui-layer-lan .layui-layer-btn a{background:rgba(224,171,74,1);}
body .layui-layer-lan .layui-layer-btn .layui-layer-btn1{background:#fff;}
.navbar-inverse .navbar-nav>.active>a,.pyt_header .collapse .header_active{
    color: #E0AB4A;
}
.navbar-inverse .navbar-nav>.active>a{
    background: transparent;
}

/*placeholder的样式*/
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #ddd;
}
input::-webkit-input-placeholder{
    color: #ddd;
}

input:-ms-input-placeholder{
    color: #ddd;
}


/*������ʽ*/
/*ͷ��*/
body{
    background-color:#f6f6f6
}
.pyt_hearder_color{
    background:#eee ;
}
.pyt_navbar-nav{
    margin-left: -27px;
}
.pyt_search_nav{
    position: relative;
}
.navbar-left{
    margin-left: 58px;
}
.navbar-default .navbar-nav>li>a{
    font-size:12px;
    font-family:NotoSansHans-Regular;
    color:#0c0c0c;
}
.navbar-nav>li>a{
    line-height: 12px;
}
.navbar-default .navbar-nav>li>a:hover{
    color: #E0AB4A;
}
.navbar-form .form-control{
    width:750px;
    padding-left: 78px;
}
.container{
    border: none;
    margin-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.navbar{
    margin-bottom: 0;
    border-radius: 0px;
}
.navbar-brand{
    padding: 15px 0px;
}
.navbar-default .pyt_font_size48{
    font-size:48px;
    color:#E0AB4A ;
    display: inline-block;
    width: 176px;
}
.line_pyt{
    display: inline-block;
    border: 1px solid #ddd;
    height: 46px;
    position: absolute;
    left: 136px;
    margin-top: 4px;
}
.navbar-default .pyt_color{
    color: #333;
}
.navbar-nav .pyt_searchAll{
    position: absolute;
    top: -7px;
    left: -48px;
    display: inline-block;
    border-right: 1px solid #999;
    width: 64px;
    color: #ddd;
}
.navbar-form .form-group{
    position: relative;
}
.pyt_search_nav{
    position: relative;
}

.container-fluid>.pyt_navbar-header{
    margin-left: 22px;
    position: absolute;
    top: 2px;
}
.form-group{
    margin-top: 18px;
    margin-left:66px ;
}
.btn{
    position: absolute;
    right: -348px;
    top: 26px;
}
#bs-example-navbar-collapse-2{
    position: absolute;
    left: 184px;
    top: -14px;
}
.pyt_nav-tabs{
    padding: 0 180px;
    width: 100%;
}
.navbar-inverse .navbar-nav>li>a{
    color: #fff;
    font-size:16px;
}
.navbar-inverse{
    margin-top: 26px;
}
.form-control{
    width: 38%;
    border: 1px solid #DDDDDD;
}
/*ҳ��*/
/*�븡��*/
.clear {
    clear: both;
}
.pyt_footer{
    float: left;
    border-bottom: 1px solid #eee;
    width: 100%;
}
.pyt_footer li{
    float: left;
    width:80px ;
    padding: 4px;
    font-size: 14px;
    list-style-type:none;
    margin-top: 4px;
    margin-bottom: 6px;
    text-align: center;
    color: #999999 ;
}
.footer_line{
    display: inline-block;
    border-right: 2px solid #ddd;
    height: 14px;
    float: left;
    margin-top: 10px;
}
.pyt_footer li:last-child{
    border: none;
}
.pyt_footer_box{
    border-top: 1px solid #E1B05A;
    padding: 20px 0;
    background: #fff;
}
/*���İ�� */
.row{
    margin: 0 auto;
    margin-top: 16px;
    border: 1px solid #ddd;
    margin-bottom: 28px;
    padding-bottom: 20px;
    background: #fff;
    min-height: 700px;
}
.pyt_remark{
    color:rgba(153,153,153,1);
    font-size:14px;
    padding-left: 12px;
    margin-bottom: 10px;
    margin-top: 8px;
}

.dropdown-menu_header{
    position: absolute;
    top: 32px;
    rigth:332px;
    text-align: center;
    min-width: 92px;
}

.navbar-nav{
    position: relative;
}
/*ģ̬��*/
.modal-title{
    margin-left:258px;
    font-size: 14px;
    color: #000;
}

.modal-header{
    background: rgba(248,248,248,1);
    padding: 8px;
}
/*�Ż�ȯ*/
.coupun{
    display: inline-block;
    width: 18px;
    height: 16px;
    color: #fff;
    background: #FF5500;
    border: 1px solid #FF5500;
}
.discount{
    color:#FF5500 ;
    width:56px ;
    height: 18px;
    border: 1px solid #FF5500 ;
    line-height: 14px;
    margin-top: 16px;
}
.modal-open .modal{
    overflow-y: hidden;
}
.container-fluid{
    padding: 0px;
}
/*.clear:after {*/
/*display: block;*/
/*content: "";*/
/*clear: both;*/
/*}*/
input{outline:none}
.btn-C{
    color: #fff;
    background:#E1B05A;
}
.btn-C:hover{
    color: #fff;
    background:#E1B05A;
}
.btn-C:hover{
    color: #fff;
}
.form-control{
    border: 1px solid #eee;
}

/*ͷ��*/
.navbar-right .dropdown-menu{
    right: 252px;
    top: 20px;
}
.dropdown-menu{
    min-width: 109px;
    text-align: center;
    border: none;
}
.navbar-default .navbar-nav>li>.active_nav{
    color: #E1B05A;
}

/*��������*/
.row #tab_personal{
    width: 600px;
    margin-left: 14%;
    height: 40px;
    line-height: 40px;
}
.row #tab_personal>span{
    display: inline-block;
    width: 76px;
    text-align: center;
    font-size: 16px;
}
.row #tab_personal>span a{
    color: #333;
    text-decoration: none;
}
.row #tab_personal>span .nav_color{
    color: #E1B05A;
}

/*头部*/
.navbar-nav>li>a{
    padding-top:0px;
    padding-bottom: 0px;
}
.navbar-nav>li{
    display: inline-block;
    line-height: 30px;
    margin-top: 14px;
}
.nav_line>li{
    border-left: 1px solid #333;
}
.nav_line .last_li{
    border: none;
    margin-right: 4px;
}
.nav_line .first_li{
    border: none;
}
.navbar{
    min-height: 40px;

}
.container{
    width: 1100px;
}
.click_down{
    background: #fff;
    color: #E1B05A;
}
.dropdown-menu{
    border-radius: 0px;
}
.arr_down{
    display: inline-block;
    height: 6px;
    width: 7px;
    border-right:1px solid   #E1B05A;
    border-bottom:1px solid   #E1B05A;
    position: absolute;
    top: 0px;
    left: 98px;
    transform:rotate(45deg);
    -ms-transform:rotate(45deg); 	/* IE 9 */
    -moz-transform:rotate(45deg); 	/* Firefox */
    -webkit-transform:rotate(45deg); /* Safari 和 Chrome */
    -o-transform:rotate(45deg);
}
/*搜索栏*/
.search_nav{
    min-height: 90px;
    padding-top: 30px;
    padding-bottom: 40px;
    background:#f6f6f6;
}
/*登录颜色*/
.navbar-default .navbar-nav>li>.login_color{
    color: #E1B05A;
}