body{
    background: #fff;
    font-family:NotoSansHans-Regular;
    overflow-x:hidden;
}
.navbar-nav>li{
    color: #fff;
}
.navbar-nav>.dropdown1{
    margin-top: 6px;
}
.navbar-nav>.dropdown1:hover{
    cursor: pointer;
    color: #e1b05a;
}
a,a:hover{
    color: #fff;
    text-decoration: none;
}
.menu2{
    position: absolute;
    top: 28px;
    z-index: 3;
    width: 78px;
    right: 296px;
    background-color: #fff;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 2px ;
    display: none;
}
.menu2 li{
    line-height: 26px;
}
.menu2 a{
    color: #000;
}

/*头部*/
.pyt_hearder_color{
    background-color:#111 ;
}
.navbar-default .navbar-nav>li>a{
    color:#fff;
    font-size: 12px;
}
.row{
    border: none;
}
#pyt_nav{
    background-image:url("../../images/web/construction.png");
    color: #fff;
    width: 100%;
    height: 800px;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
}
#nav_pro{
    width: 640px;
    float: right;
    margin-top: 14px;
}
#nav_pro li{
    float: left;
    margin-right:44px ;
    font-size: 14px;
}
#nav_pro .open_terrace{
    margin-right:0px ;
}
.active_index{
    color:#E1B05A;
    border-bottom: 2px solid #E1B05A;
}
.active_index1{
    color:#E1B05A;
}
#nav_pro li:hover{
    cursor: pointer;
}

#souye_x,#invite{
    text-align: center;
    margin-top: 30px;
    position: absolute;
    top: 300px;
    -webkit-animation: fadeInUps1 .3s 1,fadeInss_text 1s 1;
    -moz-animation: fadeInUps1 .3s 1,fadeInss_text 1s 1;
    animation:fadeInUps1 .3s 1,fadeInss_text 1s 1;
}
.open_btn{
    width: 150px;
    height: 40px;
    font-size: 12px;
    font-weight:bold;
    position: absolute;
    top: 420px;
    left: 45.5%;
    background-color:rgba(225, 176, 90, 1); ;
    border: 1px solid #E1B05A;
    text-align: center;
    line-height: 38px;
    margin:78px auto 0 ;
    border-radius: 2px;
    box-shadow: 1px 6px 16px rgba(181, 136, 54, 0.56);
}
.open_btn:hover{
    cursor: pointer;
    background-color:rgba(255, 199, 102, 1) ;
}