header{
    width: 100%;
    height:136px;
    background:rgba(255,255,255,1);
    text-align: center;
    font-size: 34px;
    line-height: 158px;
    color: rgba(51, 51, 51, 1);
    position: fixed;
    top: -2px;
}
body{
    width: 100%;
    height: 100%;
    background: url("../img/beijing.png") no-repeat;
    background-size: contain;
    display: flex;
    flex: 1;
}
#biaoyu{
    margin-top: 368px;
    margin-left:.8rem ;
    display: block;
    width: 80%;
    height: 100%;
    margin-top:1rem;
}
nav{
    width: 100%;
    height:100%;
}
#activity_data,#activity_datas{
    padding-left: 1.6rem;
    line-height: 1rem;
    font-size: .35rem;
    line-height: .8rem;
    margin: auto;
}
#activity_datas{
    padding-left: 3rem;
    font-size: .5rem;
}
/*弹框*/
#ball_box,#ball_boxs{
    width: 100%;
    height: 7.2rem;
    margin: auto;
    margin-left: .5rem;
    background: url("../img/tanchuang.png") no-repeat;
    background-size: 90% 100%;
    margin-top: 1rem;
}

#ball_boxs{
    position: fixed;
    top:4.65rem;
    left: -.2rem;
}
#activity_content,#activity_contents{
    width:75%;
    font-size:.4rem;
    font-family:DengXian-Regular;
    color:rgba(51,51,51,1);
    margin-left: .7rem;
    margin-top: .2rem;
    letter-spacing: .1rem;
    margin-bottom:1rem;
}
#activity_contents{
    margin-top: .5rem;
}
#share_btn,#share_btns{
    font-size: .5rem;
    color: rgba(51,51,51,1);
    padding-left: 3.4rem;
    margin: auto;
    display: inline-block;
}
#share_btns{
    font-size: .5rem;
    margin-top: .2rem;
}
#mengcheng{
    width: 100%;
    height:100%;
    background-color: rgba(0,0,0,.4);
    position: fixed;
    z-index: 2;
    display: none;
}
#together{
    font-size:.4rem;
    font-family:DengXian-Regular;
    color:rgba(255,255,255,1);
    line-height:1rem;
    margin: auto;
    margin-left: 3rem;
    margin-top: 1.4rem;
}
.footer_nav{
    width: 20%;
    text-align: center;
    margin-top:.3rem;
    margin-left: 1.8rem;
    display: inline-block;
    margin-bottom: .2rem;
}
.footer_nav p{
    margin-top:.1rem;
    font-size: .3rem;
    color: rgba(255, 255, 255, 1);
}
a{
    color: rgba(255, 255, 255, 1);
}
#input{
    display: none;
}
/*海报*/
#haibao{

    background: url("../img/shengchenghaibao.jpg") no-repeat;
    background-size: contain;
    display: none;
    width: 100%;
    height:100%;
    position: fixed;
    z-index: 2;

}
.footer_nav img{
    width: 1.4rem;
}
#save_pic{
    width:40%;
    height:1rem;
    background:rgba(246,174,35,1);
    border-radius: 40px;
    text-align: center;
    line-height: 1rem;
    font-size: .3rem;
    color: rgba(51, 51, 51, 1);
    top: 16rem;
    left:3rem;
    position: fixed;
}
#code{
    width: .4rem;
    height: .4rem;
    position: absolute;
    top:10.7rem;
    left: 3.2rem;
}