/*广告位*/
.pyt-banner {
    width: 1100px!important;
    height: 334px;
    margin: 10px auto;
    background:url(../../images/web/push_banner.png);
}
/*主体商品遍历部分*/
.main {
    width: 1100px;
    margin: 0 auto;
}
.wrapper .goods-list {
    position: relative;
}
.goods-list {
    width: 1225px;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.goods-item {
    width: 204px;
    height: 330px;
    float: left;
    margin-top: 10px;
    margin-right: 20px;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 10px;
}
.goods-item-content {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    background: white;
    border: 1px solid #fff;
}
.goods-item-content:hover {
    border: 1px solid rgba(225,176,90,1);
}
.goods-item-content .goods-img img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.goods-info {
    position: relative;
    padding: 10px;
    height: 126px;
    word-wrap: initial;
}
.goods-tit {
    font-size:14px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    display: block;
}
.goods-tit a {
    color: rgba(102,102,102,1);
}
.goods-quan {
    width: 100%;
    font-size: 12px;
    color: rgba(153,153,153,1);
    margin-top: 10px;
    white-space: nowrap;
    display: inline-block;
}
.goods-coupon-price {
    height: 22px;
    font-size: 14px;
    background: rgba(255,85,0,1);
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    color: rgba(255,255,255,1);
    float: left;
    position: relative;
}
.goods-coupon {
    padding: 3px;
}
.goods-coupon-1 {
    height: 22px;
    border: 1px solid rgba(255,85,0,1);
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    background: rgba(255,255,255,1);
    color:rgba(255,85,0,1);
    position: absolute;
    top: 0;
    left: 20px;
}
.goods-sales {
    float: right;
}
.goods-qjy {
    width: 100%;
    font-size: 12px;
    height: 22px;
    color: rgba(153,153,153,1);
    white-space: nowrap;
    display: inline-block;
}
.goods-price {
    float: left;
}
.goods-yj {
    float: right;
}
.rmb-style {
    color: rgba(225,176,90,1);
}
.goods-qjy b {
    font-size: 18px;
    color: rgba(225,176,90,1);
}
.icon-tmail {
    width:18px;
    height:18px;
    background:url(../../images/web/tmail.png);
    float: right;
}
.icon-taobao {
    width:18px;
    height:18px;
    background:url(../../images/web/taobao.png);
    float: right;
}